<% if RAILS_ENV == 'development' %>
  <form name="paypal_checkout" id="paypal_checkout" action="<%= Spree::Paypal::Config[:sandbox_url] %>" method="post" onsubmit="return true;">
<% else %>
  <form name="paypal_checkout" id="paypal_checkout" action="<%= Spree::Paypal::Config[:paypal_url] %>" method="post" onsubmit="return true;">
<% end %>

<!-- display payment summary here -->
<input id="business" name="business" type="hidden" value="<%= Spree::Paypal::Config[:account] %>" />
<input id="invoice" name="invoice" type="hidden" value="<%= @order.number %>" />
<input id="tax_cart" name="tax_cart" type="hidden" value="<%= @order.tax_charges.total %>" />
<input id="shipping" name="shipping" type="hidden" value="<%= @order.shipping_charges.total %>" />

<% @order.line_items.each_with_index do |item, index| %>
  <input id="item_name_<%= index + 1 %>" name="item_name_<%= index + 1 %>" type="hidden" value="<%= item.variant.product.name %>" />
  <input id="amount_<%= index + 1 %>" name="amount_<%= index + 1 %>" type="hidden" value="<%= item.price %>" />
  <input id="quantity_<%= index + 1 %>" name="quantity_<%= index + 1 %>" type="hidden" value="<%= item.quantity %>" />
<% end %>

<!-- input id="amount" name="amount" type="hidden" value="58.97" /-->
<input name="no_shipping" type="hidden" value="1" />

<input id="cmd" name="cmd" type="hidden" value="_cart" />
<input type="hidden" name="upload" value="1" />

<input type="hidden" name="country" id="country" value="" />
<input id="zip" name="zip" type="hidden" value="" />

<input id="notify_url" name="notify_url" type="hidden" value="<%= Spree::Paypal::Config[:ipn_notify_host] + order_paypal_payments_path(@order) %>" />
<input type="hidden" name="rm" value ="2"> <!-- tells paypal that the return should be POST instead of GET -->
<input id="return" name="return" type="hidden" value="<%= successful_order_paypal_payments_url(@order) %>" />
<input id="currency_code" name="currency_code" type="hidden" value="AUD" />

</form>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#paypal_checkout").submit()
  });
</script>
